Sales Table for Project Comp257

In [8]:
import pandas as pd
from matplotlib import pyplot as plt
from datetime import timedelta
import seaborn as sns
plt.style.use('seaborn')
%matplotlib inline

In [9]:
LGA = pd.read_excel('data/Sales-Tables-clean-Mar-Quarter-2018.xlsx', sheetname='LGA')

C:\Users\sbnpr\Anaconda3\lib\site-packages\pandas\util\_decorators.py:188: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  return func(*args, **kwargs)

In [13]:
postcode = pd.read_excel('data/Sales-Tables-clean-Mar-Quarter-2018.xlsx', sheetname='Postcode')

In [14]:
LGA.shape

(2747, 14)

In [15]:
postcode.shape

(1332, 11)

In [16]:
LGA.head(10)

,GMR (Greater Metropolitan Region),Greater Sydney,Rings,Local Government Areas (LGAs),DwellingType,First Quartile Sales Price $'000s,Median Sales Price $'000s,Third Quartile Sales Price '000s,Mean Sales Price $'000s,Sales No.,Qtly change in Median,Annual change in Median,Qtly change in Count,Annual change in Count
0,Total,Total,Total,Total,Total,455,635,870,764,19558,-0.0231,-0.0508,-0.2309,-0.3087
1,Total,Total,Total,Total,Non Strata,440,630,895,779,13598,-0.0308,-0.0526,-0.233,-0.2873
2,Total,Total,Total,Total,Strata,485,640,830,730,5960,-0.0303,-0.0448,-0.2262,-0.353
3,Total,Total,Total,Albury,Total,240,320,415,340,198,0.0492,0.0492,-0.2414,-0.2747
4,Total,Total,Total,Albury,Non Strata,260,352,438,370,162,-0.0154,0.043,-0.243,-0.2249
5,Total,Total,Total,Albury,Strata,156,212,240,205,36,0.0012,-0.0128,-0.234,-0.4375
6,Total,Total,Total,Armidale Regional,Total,265,350,459,355,87,0.0072,0.0145,-0.3256,-0.3308
7,Total,Total,Total,Armidale Regional,Non Strata,266,360,461,362,80,0.0141,0.0286,-0.3103,-0.3333
8,Total,Total,Total,Armidale Regional,Strata,-,-,-,-,-,-,-,-,-
9,Total,Total,Total,Ballina,Total,500,577,730,635,116,-0.058,-0.0738,-0.3626,-0.3895

In [17]:
LGA.head()

,GMR (Greater Metropolitan Region),Greater Sydney,Rings,Local Government Areas (LGAs),DwellingType,First Quartile Sales Price $'000s,Median Sales Price $'000s,Third Quartile Sales Price '000s,Mean Sales Price $'000s,Sales No.,Qtly change in Median,Annual change in Median,Qtly change in Count,Annual change in Count
0,Total,Total,Total,Total,Total,455,635,870,764,19558,-0.0231,-0.0508,-0.2309,-0.3087
1,Total,Total,Total,Total,Non Strata,440,630,895,779,13598,-0.0308,-0.0526,-0.233,-0.2873
2,Total,Total,Total,Total,Strata,485,640,830,730,5960,-0.0303,-0.0448,-0.2262,-0.353
3,Total,Total,Total,Albury,Total,240,320,415,340,198,0.0492,0.0492,-0.2414,-0.2747
4,Total,Total,Total,Albury,Non Strata,260,352,438,370,162,-0.0154,0.043,-0.243,-0.2249