Sales Table for Project Comp257

In [1]:
import pandas as pd
from matplotlib import pyplot as plt
from datetime import timedelta
import seaborn as sns
plt.style.use('seaborn')
%matplotlib inline

In [2]:
LGA = pd.read_excel('data/Sales-Tables-clean.xlsx', sheet_name= 1)

In [3]:
postcode = pd.read_excel('data/Sales-Tables-clean.xlsx', sheet_name=2)

In [4]:
LGA.shape

(2747, 14)

In [5]:
postcode.shape

(1332, 11)

In [6]:
LGA.head(10)

,GMR (Greater Metropolitan Region),Greater Sydney,Rings,Local Government Areas (LGAs),DwellingType,First Quartile Sales Price\n$'000s,Median Sales Price\n$'000s,Third Quartile Sales Price\n'000s,Mean Sales Price\n$'000s,Sales\nNo.,Qtly change in Median,Annual change in Median,Qtly change in Count,Annual change in Count
0,Total,Total,Total,Total,Total,455.0,635.0,870.0,764.0,19558.0,-0.0231,-0.0508,-0.2309,-0.3087
1,Total,Total,Total,Total,Non Strata,440.0,630.0,895.0,779.0,13598.0,-0.0308,-0.0526,-0.2330,-0.2873
2,Total,Total,Total,Total,Strata,485.0,640.0,830.0,730.0,5960.0,-0.0303,-0.0448,-0.2262,-0.3530
3,Total,Total,Total,Albury,Total,240.0,320.0,415.0,340.0,198.0,0.0492,0.0492,-0.2414,-0.2747
4,Total,Total,Total,Albury,Non Strata,260.0,352.0,438.0,370.0,162.0,-0.0154,0.0430,-0.2430,-0.2249
5,Total,Total,Total,Albury,Strata,156.0,212.0,240.0,205.0,36.0,0.0012,-0.0128,-0.2340,-0.4375
6,Total,Total,Total,Armidale Regional,Total,265.0,350.0,459.0,355.0,87.0,0.0072,0.0145,-0.3256,-0.3308
7,Total,Total,Total,Armidale Regional,Non Strata,266.0,360.0,461.0,362.0,80.0,0.0141,0.0286,-0.3103,-0.3333
8,Total,Total,Total,Armidale Regional,Strata,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Total,Total,Total,Ballina,Total,500.0,577.0,730.0,635.0,116.0,-0.0580,-0.0738,-0.3626,-0.3895

In [7]:
LGA.dtypes

GMR (Greater Metropolitan Region)      object
Greater Sydney                         object
Rings                                  object
Local Government Areas (LGAs)          object
DwellingType                           object
First Quartile Sales Price\n$'000s    float64
Median Sales Price\n$'000s            float64
Third Quartile Sales Price\n'000s     float64
Mean Sales Price\n$'000s              float64
Sales\nNo.                            float64
Qtly change in Median                 float64
Annual change in Median               float64
Qtly change in Count                  float64
Annual change in Count                float64
dtype: object

In [8]:
postcode.head(10)

,Postcode,Dwelling Type,First Quartile Sales Price\n$'000s,Median Sales Price\n$'000s,Third Quartile Sales Price\n'000s,Mean Sales Price\n$'000s,30,Qtly change in Median,Annual change in Median,Qtly change in Count,Annual change in Count
0,2000,Total,848.0,1160.0,1643.0,1348.0,103.0,-0.0169,-0.1375,-0.1043,-0.1488
1,2000,Non Strata,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,Strata,845.0,1135.0,1600.0,1322.0,101.0,-0.0340,-0.0920,-0.0734,-0.1062
3,2007,Total,280.0,641.0,650.0,517.0,30.0,-0.0642,-0.1097,-0.1333,-0.3158
4,2007,Strata,280.0,641.0,650.0,517.0,30.0,-0.0642,-0.1097,-0.1333,-0.3158
5,2008,Total,620.0,859.0,1200.0,869.0,30.0,-0.0012,0.0412,-0.5714,-0.4615
6,2008,Non Strata,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2008,Strata,610.0,670.0,1075.0,837.0,30.0,-0.1677,-0.1213,-0.5870,-0.4412
8,2009,Total,950.0,1300.0,2300.0,1651.0,30.0,0.3065,0.1586,-0.5641,-0.5405
9,2009,Non Strata,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
postcode.dtypes

Postcode                                int64
Dwelling Type                          object
First Quartile Sales Price\n$'000s    float64
Median Sales Price\n$'000s            float64
Third Quartile Sales Price\n'000s     float64
Mean Sales Price\n$'000s              float64
30                                    float64
Qtly change in Median                 float64
Annual change in Median               float64
Qtly change in Count                  float64
Annual change in Count                float64
dtype: object