In [1]:
import pandas as pd
import seaborn as sns 
import numpy as np
import matplotlib.pyplot as plt
import warnings
%matplotlib inline
from pandas import ExcelWriter
from pandas import ExcelFile

In [2]:
#Removing warnings
warnings.filterwarnings("ignore", category=FutureWarning)

In [3]:
StateResidence = pd.read_excel("data/snapshot_clean.xlsx", sheet_name = 0 )
StateResidence

,Year,New South Wales,Victoria,Queensland,South Australia,Western Australia,Tasmania,Northern Territory,Australian Capital Territory,Total
0,1966,4237900,3220217,1674324,1094984,848100,371436,56504,96032,11599497
1,1991,5714974,4287877,2887505,1408623,1576334,456219,159300,280868,16771700
2,2006,6549174,4932421,3904531,1514340,1959087,476481,192899,324034,19855288
3,2011,6917656,5354040,4332738,1596570,2239171,495352,211944,357218,21507717
4,2016,7480228,5926624,4703193,1676653,2474410,509965,228833,397397,23401892

In [4]:
AgeSex = pd.read_excel("data/snapshot_clean.xlsx", sheet_name = 2 )
AgeSex

,Year,Gender,Median age,0-4 years,5-9 years,10-14 years,15-19 years,20-24 years,25-29 years,30-34 years,...,45-49 years,50-54 years,55-59 years,60-64 years,65-69 years,70-74 years,75-79 years,80-84 years,85 years and over,Total
0,2011,Males,36,729969,694561,703308,722378,741120,754466,719654,...,740962,711741,637839,597885,455420,342691,252930,188242,139162,10634014
1,2011,Females,38,691079,657360,667746,683420,719555,758771,734122,...,763180,735662,659406,608231,463899,365398,292333,248695,263518,10873705
2,2011,Persons,37,1421050,1351921,1371054,1405798,1460674,1513236,1453775,...,1504143,1447404,1297244,1206116,919319,708090,545263,436937,402681,21507719
3,2016,Males,37,752142,771055,717629,727677,795423,824084,839821,...,773170,748954,709115,632357,581230,431325,307441,204026,180351,11546638
4,2016,Females,38,712638,731592,679553,693915,771369,840525,864026,...,808282,774601,745214,667048,607766,456390,345217,256529,306494,11855248
5,2016,Persons,38,1464779,1502646,1397183,1421595,1566793,1664602,1703847,...,1581455,1523551,1454332,1299397,1188999,887716,652657,460549,486842,23401892

In [5]:
IngeniseStat = pd.read_excel("data/snapshot_clean.xlsx", sheet_name = 4 )
IngeniseStat

,Age,Year,Aboriginal and Torres Strait Islander people(b),Non-Indigenous people,Indigenous status not stated,Total
0,Median age,2011,21,38,36,37
1,0-4 years,2011,67416,1282736,70897,1421050
2,5-9 years,2011,64936,1222114,64873,1351921
3,10-14 years,2011,64737,1241796,64529,1371054
4,15-19 years,2011,59200,1282020,64577,1405798
5,20-24 years,2011,46454,1333621,80599,1460674
6,25-29 years,2011,38803,1387923,86513,1513236
7,30-34 years,2011,33003,1345765,75012,1453775
8,35-39 years,2011,34074,1414171,71895,1520138
9,40-44 years,2011,33605,1438347,70928,1542879
10,45-49 years,2011,28820,1407494,67831,1504143
11,50-54 years,2011,24327,1357677,65400,1447404
12,55-59 years,2011,18638,1220528,58077,1297244
13,60-64 years,2011,13592,1138395,54129,1206116
14,65-69 years,2011,8677,867974,42675,919319
15,70-74 years,2011,5501,666511,36077,708090
16,75-79 years,2011,3380,511734,30148,545263
17,80-84 years,2011,1957,408663,26313,436937
18,85 years and over,2011,1266,373305,28110,402681
19,Total,2011,548368,19900765,1058585,21507719
20,Median age,2016,23,38,39,38
21,0-4 years,2016,73265,1311383,80133,1464779
22,5-9 years,2016,75755,1349301,77589,1502646
23,10-14 years,2016,71378,1255464,70340,1397183
24,15-19 years,2016,66266,1281384,73945,1421595
25,20-24 years,2016,57452,1412454,96885,1566793
26,25-29 years,2016,47934,1504558,112112,1664602
27,30-34 years,2016,40927,1554346,108575,1703847
28,35-39 years,2016,35401,1434043,92232,1561679
29,40-44 years,2016,36994,1454855,91406,1583257
30,45-49 years,2016,36034,1452864,92552,1581455
31,50-54 years,2016,31381,1401237,90932,1523551
32,55-59 years,2016,25897,1339963,88476,1454332
33,60-64 years,2016,19541,1199438,80426,1299397
34,65-69 years,2016,13722,1099519,75752,1188999
35,70-74 years,2016,8129,820805,58785,887716
36,75-79 years,2016,4689,602518,45456,652657
37,80-84 years,2016,2677,423557,34314,460549
38,85 years and over,2016,1734,443533,41577,486842
39,Total,2016,649171,21341231,1411491,23401892

In [9]:
country = pd.read_excel("data/snapshot_clean.xlsx", sheet_name = 6 )
country

,Area,New South Wales,Victoria,Queensland,South Australia,Western Australia,Tasmania,Northern Territory,Australian Capital Territory
0,Adelie Land (France),0,0,0,0,0,0,0,0
1,Afghanistan,13032,18116,3381,6313,5120,302,63,471
2,Aland Islands,4,5,4,4,0,0,0,0
3,Albania,315,1681,257,375,198,9,12,20
4,Algeria,584,302,234,63,139,7,18,47
...,...,...,...,...,...,...,...,...,...
287,"Western Europe, nfd",0,0,0,0,0,0,0,0
288,Western Sahara,5,3,0,0,0,0,0,0
289,Yemen,230,177,96,36,105,6,5,28
290,Zambia,1106,843,1329,287,2404,86,73,109
291,Zimbabwe,6495,4694,8881,1486,11649,291,672,623

In [ ]:
StateResidence = pd.read_excel("data/snapshot_clean.xlsx", sheet_name = 0 )

In [ ]:
StateResidence = pd.read_excel("data/snapshot_clean.xlsx", sheet_name = 0 )