Sales Table for Project Comp257

In [21]:
import pandas as pd
from matplotlib import pyplot as plt
from datetime import timedelta
import seaborn as sns
plt.style.use('seaborn')
%matplotlib inline

In [22]:
LGA = pd.read_excel('data/Sales-Tables-clean-Mar-Quarter-2018.xlsx', sheetname='LGA')

C:\Users\sbnpr\Anaconda3\lib\site-packages\pandas\util\_decorators.py:188: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  return func(*args, **kwargs)

In [23]:
postcode = pd.read_excel('data/Sales-Tables-clean-Mar-Quarter-2018.xlsx', sheetname='Postcode')

In [24]:
LGA.shape

(2747, 14)

In [25]:
postcode.shape

(1332, 11)

In [26]:
LGA.head(10)

,GMR (Greater Metropolitan Region),Greater Sydney,Rings,Local Government Areas (LGAs),DwellingType,First Quartile Sales Price $'000s,Median Sales Price $'000s,Third Quartile Sales Price '000s,Mean Sales Price $'000s,Sales No.,Qtly change in Median,Annual change in Median,Qtly change in Count,Annual change in Count
0,Total,Total,Total,Total,Total,455,635,870,764,19558,-0.0231,-0.0508,-0.2309,-0.3087
1,Total,Total,Total,Total,Non Strata,440,630,895,779,13598,-0.0308,-0.0526,-0.233,-0.2873
2,Total,Total,Total,Total,Strata,485,640,830,730,5960,-0.0303,-0.0448,-0.2262,-0.353
3,Total,Total,Total,Albury,Total,240,320,415,340,198,0.0492,0.0492,-0.2414,-0.2747
4,Total,Total,Total,Albury,Non Strata,260,352,438,370,162,-0.0154,0.043,-0.243,-0.2249
5,Total,Total,Total,Albury,Strata,156,212,240,205,36,0.0012,-0.0128,-0.234,-0.4375
6,Total,Total,Total,Armidale Regional,Total,265,350,459,355,87,0.0072,0.0145,-0.3256,-0.3308
7,Total,Total,Total,Armidale Regional,Non Strata,266,360,461,362,80,0.0141,0.0286,-0.3103,-0.3333
8,Total,Total,Total,Armidale Regional,Strata,-,-,-,-,-,-,-,-,-
9,Total,Total,Total,Ballina,Total,500,577,730,635,116,-0.058,-0.0738,-0.3626,-0.3895

In [27]:
LGA.head()

,GMR (Greater Metropolitan Region),Greater Sydney,Rings,Local Government Areas (LGAs),DwellingType,First Quartile Sales Price $'000s,Median Sales Price $'000s,Third Quartile Sales Price '000s,Mean Sales Price $'000s,Sales No.,Qtly change in Median,Annual change in Median,Qtly change in Count,Annual change in Count
0,Total,Total,Total,Total,Total,455,635,870,764,19558,-0.0231,-0.0508,-0.2309,-0.3087
1,Total,Total,Total,Total,Non Strata,440,630,895,779,13598,-0.0308,-0.0526,-0.233,-0.2873
2,Total,Total,Total,Total,Strata,485,640,830,730,5960,-0.0303,-0.0448,-0.2262,-0.353
3,Total,Total,Total,Albury,Total,240,320,415,340,198,0.0492,0.0492,-0.2414,-0.2747
4,Total,Total,Total,Albury,Non Strata,260,352,438,370,162,-0.0154,0.043,-0.243,-0.2249

In [28]:
LGA.transpose()

,0,1,2,3,4,5,6,7,8,9,...,2737,2738,2739,2740,2741,2742,2743,2744,2745,2746
GMR (Greater Metropolitan Region),Total,Total,Total,Total,Total,Total,Total,Total,Total,Total,...,Rest of State,Rest of State,Rest of State,Rest of State,Rest of State,Rest of State,Rest of State,Rest of State,Rest of State,Rest of State
Greater Sydney,Total,Total,Total,Total,Total,Total,Total,Total,Total,Total,...,Rest of State,Rest of State,Rest of State,Rest of State,Rest of State,Rest of State,Rest of State,Rest of State,Rest of State,Rest of State
Rings,Total,Total,Total,Total,Total,Total,Total,Total,Total,Total,...,Rest of State,Rest of State,Rest of State,Rest of State,Rest of State,Rest of State,Rest of State,Rest of State,Rest of State,Rest of State
Local Government Areas (LGAs),Total,Total,Total,Albury,Albury,Albury,Armidale Regional,Armidale Regional,Armidale Regional,Ballina,...,Warrumbungle Shire,Weddin,Weddin,Wentworth,Wentworth,Wingecarribee,Wingecarribee,Wingecarribee,Yass Valley,Yass Valley
DwellingType,Total,Non Strata,Strata,Total,Non Strata,Strata,Total,Non Strata,Strata,Total,...,Non Strata,Total,Non Strata,Total,Non Strata,Total,Non Strata,Strata,Total,Non Strata
First Quartile Sales Price\n$'000s,455,440,485,240,260,156,265,266,-,500,...,131,-,-,190,190,625,650,468,430,430
Median Sales Price\n$'000s,635,630,640,320,352,212,350,360,-,577,...,160,-,-,298,298,769,790,530,664,664
Third Quartile Sales Price\n'000s,870,895,830,415,438,240,459,461,-,730,...,195,-,-,360,360,1026,1086,655,839,839
Mean Sales Price\n$'000s,764,779,730,340,370,205,355,362,-,635,...,169,-,-,257,257,874,905,556,664,664
Sales\nNo.,19558,13598,5960,198,162,36,87,80,-,116,...,s,-,-,s,s,148,135,s,38,38
Qtly change in Median,-0.0231,-0.0308,-0.0303,0.0492,-0.0154,0.0012,0.0072,0.0141,-,-0.058,...,0.0423,-,-,0.2143,0.2143,-0.0109,-0.0125,-0.1311,0.1696,0.1696
Annual change in Median,-0.0508,-0.0526,-0.0448,0.0492,0.043,-0.0128,0.0145,0.0286,-,-0.0738,...,-0.2,-,-,0.0085,0.0085,-0.0622,-0.0501,-0.1621,0.0706,0.0706
Qtly change in Count,-0.2309,-0.233,-0.2262,-0.2414,-0.243,-0.234,-0.3256,-0.3103,-,-0.3626,...,-0.4167,-,-,-0.3929,-0.3929,-0.26,-0.2541,-0.3158,-0.4571,-0.4571
Annual change in Count,-0.3087,-0.2873,-0.353,-0.2747,-0.2249,-0.4375,-0.3308,-0.3333,-,-0.3895,...,-0.4,-,-,-0.5143,-0.5143,-0.4056,-0.4105,-0.35,-0.4062,-0.4062

In [29]:
postcode.head()

,Postcode,Dwelling Type,First Quartile Sales Price $'000s,Median Sales Price $'000s,Third Quartile Sales Price '000s,Mean Sales Price $'000s,Sales No.,Qtly change in Median,Annual change in Median,Qtly change in Count,Annual change in Count
0,2000,Total,848,1160,1643,1348,103,-0.0169,-0.1375,-0.1043,-0.1488
1,2000,Non Strata,-,-,-,-,-,-,-,-,-
2,2000,Strata,845,1135,1600,1322,101,-0.034,-0.092,-0.0734,-0.1062
3,2007,Total,280,641,650,517,s,-0.0642,-0.1097,-0.1333,-0.3158
4,2007,Strata,280,641,650,517,s,-0.0642,-0.1097,-0.1333,-0.3158

In [30]:
postcode.transpose()

,0,1,2,3,4,5,6,7,8,9,...,1322,1323,1324,1325,1326,1327,1328,1329,1330,1331
Postcode,2000,2000,2000,2007,2007,2008,2008,2008,2009,2009,...,2877,2877,2879,2879,2880,2880,3644,3644,3691,3691
Dwelling Type,Total,Non Strata,Strata,Total,Strata,Total,Non Strata,Strata,Total,Non Strata,...,Total,Non Strata,Total,Non Strata,Total,Non Strata,Total,Non Strata,Total,Non Strata
First Quartile Sales Price\n$'000s,848,-,845,280,280,620,-,610,950,-,...,-,-,-,-,91,91,-,-,-,-
Median Sales Price\n$'000s,1160,-,1135,641,641,859,-,670,1300,-,...,-,-,-,-,133,133,-,-,-,-
Third Quartile Sales Price\n'000s,1643,-,1600,650,650,1200,-,1075,2300,-,...,-,-,-,-,194,194,-,-,-,-
Mean Sales Price\n$'000s,1348,-,1322,517,517,869,-,837,1651,-,...,-,-,-,-,150,150,-,-,-,-
Sales\nNo.,103,-,101,s,s,s,-,s,s,-,...,-,-,-,-,62,62,-,-,-,-
Qtly change in Median,-0.0169,-,-0.034,-0.0642,-0.0642,-0.0012,-,-0.1677,0.3065,-,...,-,-,-,-,-0.0038,-0.0038,-,-,-,-
Annual change in Median,-0.1375,-,-0.092,-0.1097,-0.1097,0.0412,-,-0.1213,0.1586,-,...,-,-,-,-,0.325,0.325,-,-,-,-
Qtly change in Count,-0.1043,-,-0.0734,-0.1333,-0.1333,-0.5714,-,-0.587,-0.5641,-,...,-,-,-,-,-0.2346,-0.2346,-,-,-,-
Annual change in Count,-0.1488,-,-0.1062,-0.3158,-0.3158,-0.4615,-,-0.4412,-0.5405,-,...,-,-,-,-,-0.1268,-0.1268,-,-,-,-